<%- include('includes/head.ejs') %>
</head>


<body>

    <%- include('includes/navigation.ejs') %>
    
    <main class="main-404">
        <h1>
            404 NOT FOUND !!!
        </h1>
    </main>

</body>
</html>
